
 /* .form-container {
    display: grid;
    grid-template-columns: 1fr;
    transform: translateX(-100%)
} */





h1{
    padding-bottom: 10px;
}

.form-container h2{
    padding-bottom: 40px;
}

.email{
    font-weight: bold;
    color: #8F4158;
}

.password{
    font-weight: bold;

    color: #8F4158;
}

#signin_btn{
    cursor: pointer;
}
