.form-container button {
    width: 200px;
    background-color: #8F4158;
    color: #eff2f5;
    font-weight: 800;
    padding: 10px;
    margin-top: 40px;
    margin-left: 120px;
}

.form-container button:hover {
    background-color: #eff2f5;
    color: #8F4158;
    cursor: pointer;
}