/* //variable declarations */
:root {
    --color-not-quite-black: #23272a;
    --color-dark: #2c2f33;
    --color-ligther-dark: #45494e;
    --color-full-white: #ffffff;
    --color-actually-black: #000000;
    --color-fantastic-green: #00ae7a;
    --color-graphe-purple:  #6F2DA8;
    --color-cool-gray: #8C92AC;
  }
  
  body {
    background: var(--color-dark);
    color: var(--color-full-white)
  }
  
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  
  .squircles {
    background: var(--color-not-quite-black);
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  
  }
  
  .squircle {
    background:var(--color-ligther-dark);
    width: 48px;
    height: 48px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: border-radius 128ms, background 128ms;
  
  }
  
  .squircle:hover{
    border-radius: 36%;
  }
  
  .squircle:hover::before{
    transform: translate(calc(-70% - px), -50%) scale(.5);
  }
  .squircle:hover .popup {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  
  .white-one{
    background-image: url("../../images/icons/jam\ jar.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* tabs */
  .squircle::before{
    content: '';
    width: 40%;
    height: 100%;
    background: var(--color-full-white);
    position: absolute;
    border-radius: 4px;
    top: 50%;
    transform: translate(-240%, -50%) scale(0);
    transition: transform 180ms;
  }
  
  .purple-one:hover{
    background: var(--color-graphe-purple);
  }
  .green-one:hover{
    background: var(--color-fantastic-green);
  }
  
  .white-one:hover{
    background: var(--color-cool-gray);
  }
  
  .popup{
    background: var(--color-actually-black);
    padding: .1rem .5rem;
    position: absolute;
    top: 50%;
    left: 155%;
    transform: translateY(-50%) scale(0.98);
    width: max-content;
    border-radius: 2px;
    font-size: 10px;
    opacity: 0;
    transition: opacity 64ms
  }
  
  .popoup li{
    margin: .2rem 0;
  }
  
  .popup::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: var(--color-actually-black);
    width: 24px;
    height: 24px;
    z-index: -1;
  }
  
  .divider{
    width:100%;
    background: var(--color-full-white);
    height: 2px;
    border-radius: 1px;
    opacity: .06;
    transform: scale(.75)
  }

  .nav-icons {
    display: flex;
    justify-content: center;
  }
  
  /* .icon {
    width: 24px;
    height: 24px;
    margin: 0 0.5rem;
    filter: invert(1) grayscale(100%);
  } */

  .icon {
    width: 24px;
    height: 24px;
    margin: 0 0.5rem;
    filter: invert(1) grayscale(100%);
  }

  .friends-list {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--color-not-quite-black);
    padding: 1rem;
    gap: 1rem;
    color: #ffffff;
    overflow-y: auto;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }
  


  .friend-item {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .friend-name {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    flex-grow: 1;
  }
  
  /* .squircles {
    background: var(--color-not-quite-black);
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  
  } */