.container {
  grid-template-columns: 5% 15% 65% 15%;
  display: grid;
  gap: 5px;
  height: 100vh;
  overflow: hidden;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* border-radius: 15px; */
}